################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FinanceBuddyAPI/v17
/FinanceBuddyAPI/FinanceBuddyAPI/bin/Debug/net8.0
/FinanceBuddyAPI/FinanceBuddyAPI/.vs/FinanceBuddyAPI
