################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FinanceBuddyAPI/v17
/FinanceBuddyAPI/FinanceBuddyAPI/bin/
/FinanceBuddyAPI/FinanceBuddyAPI/.vs/
/FinanceBuddyAPI/FinanceBuddyAPI/obj
/.vs/FinanceBuddyAPI/FileContentIndex
